.jumbotronContainer{
	max-width: 100%;
	position: relative;
	padding: 0;
}

.jumbotronContainer h2{
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	left: 2.3%;
	right: 49.97%;
	top: 36.88%;
	color: white;
	font-size: 4vw;
	width: 60%;
}

.buttonBlack.buttonBlackOfJumbotron{
	position: absolute;
	left: 2.3%;
	right: 84.34%;
	top: 57.29%;
	background: #000000;
	border-radius: 0.5vw;
	width: 12%;
	height: 5%;
	font-size: 1vw;
	padding: 0.6%;
	font-family: 'Montserrat', sans-serif;
	box-shadow: 0 0 0 0;
}

.buttonBlack.SignUp{
	position: absolute;
	right: 1vw;
	top: 15%;
	height: 2.5vw;
	width: 8vw;
}

.buttonBlack{
	background: #000000;
	border-radius: 0.5vw;
	font-size: 1vw;
	padding: 0.6%;
	font-family: 'Montserrat', sans-serif;
	box-shadow: 0 0 0 0;
	border: 0;
}

.buttonWhite{
	background: #FFFFFF;
	border-radius: 0.5vw;
	font-size: 1vw;
	padding: 0.6%;
	font-family: 'Montserrat', sans-serif;
	box-shadow: 0 0 0 0;
	border: 0.078125vw solid black;
	color: black;
}


.buttonWhite:focus, .buttonWhite:active{
	box-shadow: 0 0 0 0;
	border: 0.078125vw solid black;
	background-color: white;
	color: black;
}

.buttonWhite:hover{
	background-color: #C4C4C4;
}

.buttonWhite.Login{
	position: absolute;
	top: 15%;
	right: 10vw;
	margin-right: 1vw;
	height: 2.5vw;
	width: 8vw;
}

.buttonBlack:focus, .buttonBlack:active{
	box-shadow: 0 0 0 0;
	border: 0.078125vw solid white;
	background: #000000;
}

.row{
	margin: 0;
}

.row .searchTab{
	padding: 0;
	position: absolute;
	top: 95%;
	height: 5%;
	background-color: white;
	opacity: 0.65;
}

.searchTabButtonGroup{
	position: absolute;
	top: 0%;
	border-radius: 0;
	width: 100%;
	height: 100%;
}

.searchTabNav{
	font-family: 'Montserrat', sans-serif;
	padding: 0.1vw;
	border-radius: 0;
	width: 50%;
	font-size: 2vw;
	height: 100%;
	outline: none;
	font-weight: bold;
}

.searchTabNav:focus, .searchTabNav:active{
	box-shadow: 0 0 0 0;
	background-color: white;
	border-color: white;
	color: black;
}

.searchTabBottom{
	background-color: white;
	height: 22vw;
	position: relative;
}

.logo{
	font-family: 'Montserrat', sans-serif;
	font-size: 2.5vw;	
	color: black;
}

.logo:link, .logo:visited, .logo:hover, .logo:active, .logo:focus{
	text-decoration: none;
}

.header{
	position: sticky;
	position: -webkit-sticky; /* Safari */
  	top: 0;
	height:3.5vw;
	background-color: white;
}

.profileImg{
	position: absolute;
	right: 0;
	box-sizing: border-box;
	margin-top: 0.5%;
	margin-right: 3%;
	color: black;
	font-size: 2.5vw;
}

.modalLogin{
	margin-top: 15px;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	background-color: black;
	font-size: 14px;
	padding: 1.5%;
}

.modalLogin:focus, .modalLogin:active{
	box-shadow: 0 0 0 0;
	border: 0.078125vw solid white;
	background: #000000;
}

.Img1{
	position: relative;
	width: 100%;
}

.Img1-container{
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	padding-left: 2%;
	padding-right: 1%;
}

.Media1{
	position: relative;
	margin-top: 10%;
	background-color: #FFFFFF;
	opacity: 0.8;
}

.Body1{
	position: absolute;
	top: 37.5%;
	bottom: 37.5%;
	right: 0%;
	padding-left: 1%;
	padding-right: 2%;
	font-size: 1.2vw;
	height: 25%;
	opacity: 1;
}

.Body1 .media-heading{
	font-size: 2vw;
	margin-bottom: 0.5vw;
	opacity: 1;
}

.Img2{
	position: relative;
	width: 100%;
}

.Img2-container{
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	padding-left: 1%;
	padding-right: 2%;
}

.Media2{
	position: relative;
	background-color: #FADBD8;
	opacity: 0.8;
}

.Body2{
	position: absolute;
	top: 37.5%;
	bottom: 37.5%;
	left: 0%;
	padding-left: 2%;
	padding-right: 1%;
	font-size: 1.2vw;
	height: 25%;
	opacity: 1;
}

.Body2 .media-heading{
	font-size: 2vw;
	margin-bottom: 0.5vw;
	opacity: 1;
}

.Img3{
	position: relative;
	width: 100%;
}

.Img3-container{
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	padding-left: 2%;
	padding-right: 1%;
}

.Media3{
	position: relative;
	background-color: #FFFFFF;
	opacity: 0.8;
}

.Body3{
	position: absolute;
	top: 37.5%;
	bottom: 37.5%;
	right: 0%;
	padding-left: 1%;
	padding-right: 2%;
	font-size: 1.2vw;
	height: 25%;
	opacity: 1;
}

.Body3 .media-heading{
	font-size: 2vw;
	margin-bottom: 0.5vw;
	opacity: 1;
}

.cardSet{
	margin-top: 10%;
	opacity: 1;
}

.cardSet .cardSetHeading{
	opacity: 1;
	font-family: 'Montserrat', sans-serif;
	font-size: 4vw;
}

.cardSet{
	background-color: #FADBD8;
}

.cardContainer{
	box-sizing: border-box;
	float: left;
	padding: 2%;
	
	background-color: #FADBD8;
}

.cardBody{
	opacity: 1;
}

.card:hover{
	cursor: pointer;
	border: 1px solid black;
	opacity: 0.65;
}

.card-title{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 80%;
}

.card-text{
	font-size: 70%;
}

.footer{
	position: relative;
	float:left;
	background-color: white;
	left: 0;
	right: 0;
	height: 15vw;
	width: 100%;
	bottom: 0;
}

.footerInsides{
	position: absolute;
	bottom: 37.5%;
	height: 25%;
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
}

.footerLogo{
	top: 0.1vw;
}

.footerLogos{
	position: relative;
	height: 3.5vw; 
	padding: 1%;
	bottom: 0.4vw;
}

.copyright{
	padding-top: 0.8vw;
	padding-left: 8vw;
	font-size: 1vw;
}

.aboveHeader{
	position: sticky;
	top: 0;
	z-index: 99;
	border-bottom: 0.078125vw solid black;
}

#search{
	top: 0;
	height: 3vw;
	font-size: 1.5vw;
	border: 0.078125vw solid black;
	border-radius: 0.125rem;
}

.col{
	padding-left: 1vw;
	padding-right: 1vw;
}

.searchButton{
	margin-top: 2vw;
	padding: 0;
	height: 3vw;
	width: 100%;
	border: 0.078125vw solid black;
	border-radius: 0.125rem;
	background-color: white;
}

.searchButton:focus, .searchButton:active{
	box-shadow: 0 0 0 0;
	background-color: white;
}

.searchButton:hover{
	background-color: #c4c4c4;
}

.collectionsPhoto{
	font-size: 1500%;
}

.collection{
	border-radius: 1rem;
	margin: 0.5rem;
	overflow-x: hidden;
	font-family: 'Montserrat', sans-serif;
}

.collection:hover, .collection:active{
	cursor: pointer;
	border: 1px solid black;
}